<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.project.blog.mapper.ArticleMapper">

    <resultMap id="BaseResultMap" type="pers.project.blog.entity.ArticleEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="userId" column="user_id" jdbcType="INTEGER"/>
        <result property="categoryId" column="category_id" jdbcType="INTEGER"/>
        <result property="articleCover" column="article_cover" jdbcType="VARCHAR"/>
        <result property="articleTitle" column="article_title" jdbcType="VARCHAR"/>
        <result property="articleContent" column="article_content" jdbcType="VARCHAR"/>
        <result property="type" column="type" jdbcType="TINYINT"/>
        <result property="originalUrl" column="original_url" jdbcType="VARCHAR"/>
        <result property="isTop" column="is_top" jdbcType="TINYINT"/>
        <result property="isDelete" column="is_delete" jdbcType="TINYINT"/>
        <result property="status" column="status" jdbcType="TINYINT"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <resultMap id="listAdminArticlesResultMap" type="pers.project.blog.dto.AdminArticleDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryName" column="category_name"/>
        <result property="type" column="type"/>
        <result property="isTop" column="is_top"/>
        <result property="isDelete" column="is_delete"/>
        <result property="status" column="status"/>
        <collection property="tagDTOList" ofType="pers.project.blog.dto.TagDTO">
            <id property="id" column="tag_id"/>
            <result property="tagName" column="tag_id"/>
        </collection>
    </resultMap>

    <resultMap id="listHomePageArticleDTOsResultMap" type="pers.project.blog.dto.HomePageArticleDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="createTime" column="create_time"/>
        <result property="isTop" column="is_top"/>
        <result property="type" column="type"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagDTOList" ofType="pers.project.blog.dto.TagDTO">
            <id property="id" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>

    <resultMap id="getArticleDTOResultMap" type="pers.project.blog.dto.ArticleDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="articleContent" column="article_content"/>
        <result property="type" column="type"/>
        <result property="originalUrl" column="original_url"/>
        <result property="createTime" column="create_time"/>
        <result property="updateTime" column="update_time"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagDTOList" ofType="pers.project.blog.dto.TagDTO">
            <id property="id" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>

    <resultMap id="listPreviewDTOsResultMap" type="pers.project.blog.dto.PreviewDTO">
        <id property="id" column="id"/>
        <result property="articleCover" column="article_cover"/>
        <result property="articleTitle" column="article_title"/>
        <result property="createTime" column="create_time"/>
        <result property="categoryId" column="category_id"/>
        <result property="categoryName" column="category_name"/>
        <collection property="tagDTOList" ofType="pers.project.blog.dto.TagDTO">
            <id property="id" column="tag_id"/>
            <result property="tagName" column="tag_name"/>
        </collection>
    </resultMap>

    <sql id="Base_Column_List">
        id,user_id,category_id,
        article_cover,article_title,article_content,
        type,original_url,is_top,
        is_delete,status,create_time,
        update_time
    </sql>

    <select id="listArticleStatisticsDTOs" resultType="pers.project.blog.dto.ArticleStatisticsDTO">
        SELECT DATE_FORMAT(create_time, '%Y-%m-%d') AS `date`,
               COUNT(*)                             AS `count`
        FROM tb_article
        GROUP BY `date`
        ORDER BY `date` DESC
    </select>

    <select id="countAdminArticles" resultType="java.lang.Integer">
        SELECT COUNT(DISTINCT article.id)
        FROM tb_article article
        LEFT JOIN tb_article_tag article_tag
        ON article.id = article_tag.article_id
        <where>
            article.is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                AND article.article_title LIKE CONCAT('%', #{conditionVO.keywords}, '%')
            </if>
            <if test="conditionVO.categoryId != null">
                AND article.category_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.status != null">
                AND article.status = #{conditionVO.status}
            </if>
            <if test="conditionVO.type != null">
                AND article.type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                AND article_tag.tag_id = #{conditionVO.tagId}
            </if>
        </where>
    </select>

    <select id="listAdminArticles" resultMap="listAdminArticlesResultMap">
        SELECT info.id , info.article_cover, info.article_title, info.create_time,
        category.category_name, tag.id AS tag_id, tag.tag_name, info.type, info.is_top,
        info.is_delete, info.`status`
        FROM
        (SELECT id, article_cover, article_title, create_time, type,
        is_top, is_delete,`status`, category_id
        FROM tb_article
        <where>
            is_delete = #{conditionVO.isDelete}
            <if test="conditionVO.keywords != null">
                AND article_title LIKE CONCAT('%', #{conditionVO.keywords}, '%')
            </if>
            <if test="conditionVO.categoryId != null">
                AND category_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.status != null">
                AND `status` = #{conditionVO.status}
            </if>
            <if test="conditionVO.type != null">
                AND type = #{conditionVO.type}
            </if>
            <if test="conditionVO.tagId != null">
                AND id IN
                (SELECT article_id
                FROM tb_article_tag
                WHERE tag_id = #{conditionVO.tagId})
            </if>
            ORDER BY is_top DESC, id DESC
            LIMIT #{offset}, #{size}) info
        </where>
        LEFT JOIN tb_category category ON info.category_id = category.id
        LEFT JOIN tb_article_tag article_tag ON info.id = article_tag.article_id
        LEFT JOIN tb_tag tag ON tag.id = article_tag.tag_id
        /*ORDER BY info.is_top DESC, info.id desc*/
    </select>

    <select id="listHomePageArticleDTOs" resultMap="listHomePageArticleDTOsResultMap">
        SELECT article.id,
               article.article_cover,
               article.article_title,
               SUBSTRING(article.article_content, 1, 500) AS article_content,
               article.create_time,
               article.is_top,
               article.type,
               article.category_id,
               category.category_name,
               article_tag.tag_id,
               tag.tag_name
        FROM (SELECT id,
                     article_cover,
                     article_title,
                     article_content,
                     type,
                     is_top,
                     create_time,
                     category_id
              FROM tb_article
              WHERE is_delete = 0
                AND `status` = 1
              ORDER BY is_top DESC, id DESC
              LIMIT #{offset}, #{size}) article
                 JOIN tb_category category ON article.category_id = category.id
                 JOIN tb_article_tag article_tag ON article.id = article_tag.article_id
                 JOIN tb_tag tag ON tag.id = article_tag.tag_id
        /*ORDER BY article.is_top DESC, article.id DESC*/
    </select>

    <select id="listArticleRecommendArticles" resultType="pers.project.blog.dto.ArticleRecommendDTO">
        SELECT article.id, article.article_cover, article.article_title, article.create_time
        FROM (SELECT DISTINCT article_id
              FROM (SELECT tag_id
                    FROM tb_article_tag
                    WHERE article_id = #{articleId}) sub_article_tag_1
                       JOIN tb_article_tag sub_article_tag_2
                            ON sub_article_tag_1.tag_id = sub_article_tag_2.tag_id
              WHERE sub_article_tag_2.article_id != #{articleId}) article_tag
                 JOIN tb_article article ON article_tag.article_id = article.id
        WHERE article.is_delete = 0
        ORDER BY article.is_top DESC, article.id DESC
        LIMIT 6
    </select>

    <select id="getArticleDTO" resultMap="getArticleDTOResultMap">
        SELECT article.id,
               article.article_cover,
               article.article_title,
               article.article_content,
               article.type,
               article.original_url,
               article.create_time,
               article.update_time,
               article.category_id,
               category.category_name,
               article_tag.tag_id,
               tag.tag_name
        FROM tb_article article
                 JOIN tb_category category on article.category_id = category.id
                 JOIN tb_article_tag article_tag on article.id = article_tag.article_id
                 JOIN tb_tag tag on article_tag.tag_id = tag.id
        WHERE article.id = #{articleId}
          AND article.is_delete = 0
          AND article.status = 1
    </select>

    <select id="listPreviewDTOs" resultMap="listPreviewDTOsResultMap">
        SELECT article.id, article.article_cover, article.article_title, article.create_time,
        article.category_id, category.category_name, tag.id AS tag_id, tag.tag_name
        FROM
        (SELECT id, category_id, article_cover, article_title, create_time
        FROM tb_article
        <where>
            <if test="conditionVO.categoryId != null">
                category_id = #{conditionVO.categoryId}
            </if>
            <if test="conditionVO.tagId != null">
                id IN (SELECT article_id
                FROM tb_article_tag
                WHERE tag_id = #{conditionVO.tagId})
            </if>
        </where>
        AND is_delete = 0
        AND `status` = 1
        ORDER BY id DESC
        LIMIT #{offset}, #{size}
        ) article
        JOIN tb_category category ON article.category_id = category.id
        JOIN tb_article_tag article_tag ON article.id = article_tag.article_id
        JOIN tb_tag tag ON article_tag.tag_id = tag.id
    </select>


</mapper>
