<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="pers.project.blog.mapper.CategoryMapper">

    <resultMap id="BaseResultMap" type="pers.project.blog.entity.CategoryEntity">
        <id property="id" column="id" jdbcType="INTEGER"/>
        <result property="categoryName" column="category_name" jdbcType="VARCHAR"/>
        <result property="createTime" column="create_time" jdbcType="TIMESTAMP"/>
        <result property="updateTime" column="update_time" jdbcType="TIMESTAMP"/>
    </resultMap>

    <sql id="Base_Column_List">
        id,category_name,create_time,
        update_time
    </sql>

    <select id="listCategoryDTOs" resultType="pers.project.blog.dto.CategoryDTO">
        SELECT category.id,
               category.category_name,
               COUNT(subarticle.id) AS article_count
        FROM tb_category category
                 LEFT JOIN (SELECT id, category_id
                            FROM tb_article article
                            WHERE is_delete = 0
                              AND `status` = 1) subarticle
                           ON category.id = subarticle.category_id
        GROUP BY category.id
    </select>

</mapper>
